<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some Website</title>

</head>
<body>
<h1>We'll be right back soon</h1>
<p>Site is currently being updated</p>
</body>
</html>